# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.rollaball.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\1\projects\rollaball\.idea\.idea.rollaball\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
